.main {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  flex-direction: column;
  height: 100vh
}

.boxWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {border:1px solid black; text-align: center;}
.box img {width: 100%;}

.win {  border: 10px solid green;  color: green; }
.lose {  border: 10px solid red;  color: red; }
.tie {  border: 10px solid black;  color: black; }